*{
box-sizing:border-box;
}

body{
margin:0;
font-family:Segoe UI;
background:#eef2f6;
}

/* Layout */

.container{
display:flex;
min-height:100vh;
}

/* Sidebar */

.sidebar{
width:240px;
background:#1e293b;
color:white;
padding:20px;
transition:0.3s;
}

.sidebar h2{
margin-bottom:20px;
}

.sidebar button{
display:block;
width:100%;
padding:10px;
margin-bottom:10px;
border:none;
border-radius:6px;
background:#334155;
color:white;
cursor:pointer;
}

.sidebar button:hover{
background:#3b82f6;
}

/* Back button */

.back-btn{
background:#111827;
margin-bottom:15px;
display:none;
}

/* Main */

.main-content{
flex:1;
padding:25px;
}

/* Topbar */

.topbar{
display:flex;
gap:10px;
margin-bottom:20px;
}

.topbar input{
flex:1;
padding:8px;
border-radius:6px;
border:1px solid #ccc;
}

/* Dashboard cards */

.stats{
display:grid;
grid-template-columns:1fr;
gap:15px;
margin-bottom:20px;
}

.card{
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 4px 12px rgba(0,0,0,0.1);
text-align:center;
}

.card p{
font-size:22px;
font-weight:bold;
}

/* Task form */

.task-form{
display:flex;
flex-direction:column;
gap:10px;
margin-bottom:20px;
}

.task-form input,
.task-form select{
padding:8px;
border-radius:6px;
border:1px solid #ccc;
}

#addTaskBtn{
background:#3b82f6;
color:white;
border:none;
padding:8px;
border-radius:6px;
cursor:pointer;
}

/* Table */

.table-wrapper{
overflow-x:auto;
}

.task-table{
width:100%;
border-collapse:collapse;
background:white;
border-radius:10px;
overflow:hidden;
}

.task-table th{
background:#f1f5f9;
padding:12px;
}

.task-table td{
padding:12px;
border-bottom:1px solid #eee;
}

/* Priority */

.priority{
padding:4px 10px;
border-radius:20px;
color:white;
font-size:12px;
}

.priority.high{background:#ef4444;}
.priority.medium{background:#f59e0b;}
.priority.low{background:#10b981;}


/* MOBILE */

@media(max-width:768px){

.sidebar{
position:fixed;
left:-240px;
top:0;
height:100%;
z-index:1000;
}

.sidebar.active{
left:0;
}

.back-btn{
display:block;
}

}

/* TABLET */

@media(min-width:769px) and (max-width:1023px){

.stats{
grid-template-columns:1fr 1fr;
}

.sidebar{
position:fixed;
left:-240px;
top:0;
height:100%;
}

.sidebar.active{
left:0;
}

.back-btn{
display:block;
}

}

/* DESKTOP */

@media(min-width:1024px){

.sidebar{
position:relative;
left:0;
}

.stats{
grid-template-columns:repeat(3,1fr);
}

#menuBtn{
display:none;
}

#backBtn{
display:none;
}

}